
<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <h3>Navigácia</h3>
        <div class="sidebar-controls">
        </div>
    </div>
    <ul class="sidebar-menu">
        <li class="menu-item active-parent">
            <a href="#" onclick="toggleSubmenu('elektrostatika')">
                <i class="fas fa-bolt"></i>
                <span class="menu-text">Elektrostatické pole</span>
                <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="submenu active" id="elektrostatika-submenu">
                <li><a href="#" onclick="loadSection('coulombov-zakon.html')" class="active">
                    <span class="menu-text">Coulombov zákon</span>
                </a></li>
                <li><a href="#" onclick="loadSection('intenzita-pola.html')">
                    <span class="menu-text">Intenzita elektrostatického poľa</span>
                </a></li>
                <li><a href="#" onclick="loadSection('tok-intenzity.html')">
                    <span class="menu-text">Tok intenzity elektrostatického poľa, Gaussov zákon</span>
                </a></li>
                <li><a href="#" onclick="loadSection('gaussov-zakon.html')">
                    <span class="menu-text">Niektoré aplikácie Gaussovho zákona</span>
                </a></li>
                <li><a href="#" onclick="loadSection('praca-potencial.html')">
                    <span class="menu-text">Práca a potenciálna energia v elektrostatickom poli</span>
                </a></li>
                <li><a href="#" onclick="loadSection('pohyb-castice.html')">
                    <span class="menu-text">Pohyb nabitej častice v elektrickom poli</span>
                </a></li>
                <li><a href="#" onclick="loadSection('energia-sustavy.html')">
                    <span class="menu-text">Energia sústavy nábojov, nabitého vodiča a elektrostatického poľa</span>
                </a></li>
                <li><a href="#" onclick="loadSection('kapacita.html')">
                    <span class="menu-text">Kapacita vodiča, elektrický kondenzátor</span>
                </a></li>
                <li><a href="#" onclick="loadSection('dielektrika.html')">
                    <span class="menu-text">Dielektriká</span>
                </a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" onclick="toggleSubmenu('elektricky-proud')">
                <i class="fas fa-bolt"></i>
                <span class="menu-text">Elektrický prúd v kovoch</span>
                <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="submenu" id="elektricky-proud-submenu">
                <li><a href="#" onclick="loadSection('intenzita-proudu.html')">
                    <span class="menu-text">Intenzita prúdu, hustota prúdu</span>
                </a></li>
                <li><a href="#" onclick="loadSection('ohmov-zakon.html')">
                    <span class="menu-text">Ohmov zákon, Jouleov zákon</span>
                </a></li>
                <li><a href="#" onclick="loadSection('elektromotoricke-napatie.html')">
                    <span class="menu-text">Elektromotorické napätie</span>
                </a></li>
            </ul>
        </li>

    </ul>
</div>